*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@media (min-width: 751px)
{
	#nav-bar
	{
		display: none;
	}
	#menu-list
	{
		display: none;
	}
	.why-def
	{
		display: none;
	}
	.why-def-big
	{
		display: block;
	}
	.why
	{
		width: 80%;
		margin-left: 10%;
	}
	.your-role
	{
		display: none;
	}
	.your-role-big
	{
		display: block;
	}
	.leadership-small
	{
		display: none;
	}
	.objectives
	{
		display: none;
	}
	.who-statement
	{
		display: none;
	}
	.who-statement-big
	{
		display: block;
	}

	
#nav-bar-big
	{
	width: 60%;
	height: 100%;
	overflow: auto;
	color: dodgerblue;
	font-size: 22px;
	display: flex;
	align-items: center;
	font-family: trebuchet ms;
	}
	
	
}
@media (max-width: 750px)
{
	.why-def-big
	{
		display: none;
	}
	#nav-bar-big
	{
		display: none;
	}
	.your-role-big
	{
		display: none;
	}
	.leadership-objectives
	{
		display: none;
	}
	.who-statement-big
	{
		display: none;
	}
	
}
.top-nav
{
	width: 100%;
	height: 80px;
	background-color: white;
}
.why-such
{
	background-color: white;
	color: purple;
	font-family: georgia;
	text-align: center;
}
.your-role-big
{
	text-align: center;
	color: dodgerblue;
	font-family: georgia;
	overflow: auto;
}
.left-role
{
	margin-left: 5%;
	width: 30%;
	float: left;
	height: 300px;
}
.mid-role
{
	width: 30%;
	float: left;
	height: 300px;
}
.right-role
{
	width: 30%;
	float: left;
	height: 300px;
}
#width-50
{
	width: 70%;
	margin-left: 15%;
}
.align-roles
{
	height: 50px;
}
.your-role
{
	background-color: whitesmoke;
	color: dodgerblue;
	text-align: center;
	font-family: georgia;
}
.our-work
{
	border: 2px solid dodgerblue;
	color: dodgerblue;
	font-family: trebuchet ms;
	padding: 10px;
	border-radius: 30px;
}
button
{
	background-color: dodgerblue;
	color: white;
	height: 30px;
	font-weight: bolder;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 3px solid dodgerblue;
	font-family: trebuchet ms;
	font-size: 20px;

}
#logo
{
	float: left;
	width: 40%;
	height: 100%;
}
.roles
{
	border: 5px double white;
	border-radius: 50px;
}
.leadership-objectives
{
	width: 80%;
	margin-left: 10%;
	height: 1900px;
	background-color: whitesmoke;
	color: dodgerblue;
	font-family: GEORGIA;
}
#nav-bar
{
	float: left;
	width: 60%;
	height: 100%;
	overflow: auto;
}
.donate
{
	float: left;
	color: purple;
	height: 100%;
	display: flex;
	align-items: center;
	font-family: trebuchet ms;
}
.menu-bar
{
	float: left;
	height: 100%;
	display: flex;
	align-items: center;
	margin-right: 20px;
	margin-left: 20px;
}
#center-nav
{
	float: right;
	height: 100%;
	display: flex;
	align-items: center;
}
.home-image
{
	width: 100%;
	height: 250px;
	background-image: url('home-bg2.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.why
{
	width: 90%;
	margin-left: 5%;
	margin-top: -10px;
	
	background-color: #fff;
}
.why-def
{
	width: 80%;
	margin-left: 10%;
	font-family: georgia;
	text-align: center;
	padding-top: 10px;
	color: dodgerblue;
}
.why-def-big
{
	width: 80%;
	margin-left: 10%;
	font-family: georgia;
	text-align: center;
	padding-top: 10px;
	color: dodgerblue;

}

#menu-list
{
	
	display: none;
	text-align: center;
	background-color: whitesmoke;
	color: dodgerblue;
}
.links
{
	color: dodgerblue;
	padding-top: 4px;
	padding-bottom: 2px;
}
a
{
	color: dodgerblue;
	font-family: trebuchet ms;
	text-decoration: none;
}
.who
{
	background-color: whitesmoke;
	width: 90%;
	margin: auto;
}
.objectives
{
	color: dodgerblue;
	font-family: georgia;
}
.obj-points
{
	width: 90%;
	margin-left: 5%;
}
.footer
{
	height: 190px;
	background-color: whitesmoke;
	color: dodgerblue;
	font-family: trebuchet ms;
	text-align: center;
}
.left 
{
	width: 90%;
	margin-left: 5%;
	margin-top: 5%;
	height: 90%;
	border: 2px solid white;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: dodgerblue;
}
.right 
{
	width: 90%;
	margin-top: 5%;
	margin-left: 5%;
	height: 90%;
	border: 2px solid white;
}
.bg-who
{
	width: 90%;
	margin-left: 5%;
	height: 220px;
	border-radius: 5px;
	background-image: url('home-bg1.jpg');
	background-position: center;
	background-size: cover;
}
.who-statement

{
	color: dodgerblue;
	width: 90%;
	margin-left: 5%;
	text-align: center;
	font-family: georgia;
}
.who-statement-big

{
	color: dodgerblue;
	width: 90%;
	margin-left: 5%;
	text-align: center;
	font-family: georgia;
}
.vision
{
	background-color: ghostwhite;
	color: purple;
	width: 85%;
	margin-left: 7.5%;
	text-align: center;
	font-family: georgia;
	border-radius: 10px;
}
#vision-title
{
	height: 20%;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}
#vision-body
{   padding: 20px;
	background-color: whitesmoke;
	color: dodgerblue;
}
.leadership-small
{
	width: 100%;
	background-color: white;
	text-align: center;
	color: dodgerblue;
	font-family: GEORGIA;
	overflow: auto;
}
.swipe
{
	display: flex;
	align-items: center;
	float: left;
	width: 10%;
	height: 250px;
}
.board
{
	width: 80%;
	float: left;
}
#changeImageButton2,#changeImageButton
{
	border: none;
}